/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font:  Helvetica,
    "Helvetica Neue", sans-serif;
  --standard-border-radius: 10px; /*sets round corners on borders*/
  --bg: #fefae0;
  --accent-bg: #faedcd;
  --text: #432818;
  --text-light: #FFF2EF;
  --border: #432818;
  --accent: #EB620E;
  --accentblue: #00798F;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
  background-color: #D9C5BF;
}


/*set up body content to center using 3 column template*/
body {

   color: var(--text);  
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr min(1920, 90%) 1fr;
  justify-content: center;

}

/* Format headers */
h1 {
  font-size: 75px;

}

h2 {
  font-size: 60px;
  color: var(--text-light);

}


/* Format links*/
a,
a:visited {
  color: var(--accent);
  text-decoration: none;
}
 a:hover {

  color: var(--accentblue);
  cursor: pointer;
} 

section {
  padding: 1rem 1rem;
  margin: 3rem 0;
  text-align: center;
  background-color: white;

}
.panel{
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius); 
  background-size: cover; /* Scale the image to cover the entire panel */
  background-position: center; /* Center the image */
  width: 1920px;     
  height: 1080px ;  
  justify-content: flex-start; 

}

.body-text{
  font-size: 2rem;
  padding-left: 30px;
  padding-right: 15px;
  text-align: left;
  justify-content: center;
}

.the-end-text{
  font-size: 2rem;
  padding-bottom: 20px;
  text-align: center;
  color: var(--text-light);
}
.cards{
  display: flex;
  padding-left: 150px;
}

footer {
  margin-top: 1rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(---text);
  font-size: 1rem;
  text-align: center;
}


/*positioning of the cards*/
.leftCard {
  display: flex;
  position: relative;
  left: 100px; 
  top: -30px;
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg); 
}

/*positioning of the text inside the card*/
.leftCardText {
  display:flex;
  position: relative;
  right: 320px;
  top: 85px;
  width: 255px;
  height: 475px;
  font-size: 40px;
  color: var(--accent);
  font-weight: bold;
  justify-content: center; 
  align-items: center;   
  /* border: 1px solid var(--border);  only for testing the alignment of the text*/

}


.rightCard {
  display: flex;
  position: relative;
  left: -200px;
  top: 75px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); /* Standard syntax */
}
.rightCardText {
  display:flex;

  position: relative;
  text-align: center;
  right: 435px;
  top: 90px;
  width: 255px;
  height: 475px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: var(--accent);
  font-weight: bold;
  justify-content: center; 
  align-items: center;  
  /* border: 1px solid var(--border);  only for testing the alignment of the text*/
}
.navContainer
{ display:flex;

}
.playLink {
  display:flex;
  position: relative;
  text-align: center;
  left: 535px;
  top: 920px;
  width: 300px;
  height: 55px;
  font-size: 40px;
  color: var(--text-light);
  font-weight: bold;
  justify-content: center; 
  align-items: center;  
  /* border: 1px solid var(--border);   */
}
.playLink a,
a:visited {
  color: var(--text-light);
  text-decoration: none;
}
 a:hover {

  color: var(--accentblue);
  cursor: pointer;
} 

.rulesLink {
  display:flex;
  position: relative;
  text-align: center;
  left:750px;
  top: 920px;
  width: 300px;
  height: 55px;
  font-size: 40px;
  color: var(--text-light);
  font-weight: bold;
  justify-content: center; 
  align-items: center;  
  /* border: 1px solid var(--border);   */
}

.rulesLink a,
a:visited {
  color: var(--text-light);
  text-decoration: none;
}
 a:hover {

  color: var(--accentblue);
  cursor: pointer;
} 
