#page9back{
    background: url(../assets/1.png);
    background-repeat: no-repeat ;
    background-position: center;
    background-size:100% 100% ;
    background-attachment: fixed;

}
.page9headtext{
    display: flex;
    justify-content: center;
    margin-top: 18px;

}

.page9bodytext{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.page9carddiv{
    display: flex;
    justify-content:space-around;
    margin-top: 75px;

}
.page9cards{
    /* width: 25%;
    height: auto; */
    
}
.page9image{
    height: 400px;
    width: 300px;
}
.container{
    position: relative;
    text-align: center;
}
.centered{
    position: relative;
    bottom: 50%;
}
.normal-link{
    text-decoration: none;
}